@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
select,
textarea {
  @apply border border-gray-300 rounded-md px-1 w-full;
  @apply mb-2 outline-none;
}

textarea {
  @apply resize-none;
}

input:focus,
select:focus,
textarea:focus {
  @apply border-blue-900;
}

label {
  @apply text-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm outline-blue-900 hover:bg-blue-800 transition;
}

table.basic {
  @apply w-full;
}

table.basic thead tr th {
  @apply bg-blue-100;
}

table.basic tr,
th,
td {
  @apply border border-blue-200 p-1;
}

table.basic th {
  @apply text-left;
}

table.basic a {
  @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md cursor-pointer;
}

.btn-red {
  @apply bg-red-800 text-white outline-red-700;
}

.btn-default {
  @apply bg-gray-500 text-white outline-gray-400;
}
