@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
select,
textarea {
  @apply border border-gray-200 rounded-sm w-full py-2 px-3;
  @apply mb-2 outline-none;
}

textarea {
  @apply resize-none;
}

input:focus,
select:focus,
textarea:focus {
  @apply border-gray-100;
}

label {
  @apply text-gray-600 text-sm;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm outline-blue-900 hover:bg-blue-800 transition;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr th {
  @apply text-sm text-gray-600 capitalize border-b border-gray-200 px-4 py-2;
}

table.basic tr > * {
  @apply px-4 py-1;
}

table.basic th {
  @apply text-left;
}

table.basic a {
  @apply px-4 py-1 rounded-sm transition inline-flex mx-1 items-center gap-1 text-sm;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md cursor-pointer;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm outline-red-300 hover:bg-red-300 transition;
}

.btn-default {
  @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 outline-gray-300 transition;
}
