@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border border-gray-300 rounded-md px-1 w-full;
  @apply mb-2 outline-none;
}

textarea {
  @apply resize-none;
}

input:focus,
textarea:focus {
  @apply border-blue-900;
}

label {
  @apply text-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md outline-blue-900 hover:bg-blue-800 transition;
}
