@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
select,
textarea {
  @apply border border-gray-300 rounded-md px-1 w-full;
  @apply mb-2 outline-none;
}

textarea {
  @apply resize-none;
}

input:focus,
select:focus,
textarea:focus {
  @apply border-blue-900;
}

label {
  @apply text-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm outline-blue-900 hover:bg-blue-800 transition;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr th {
  @apply text-sm text-gray-600 capitalize border-b border-gray-200 px-4 py-2;
}

table.basic tr > * {
  @apply px-4 py-1;
}

table.basic th {
  @apply text-left;
}

table.basic a {
  @apply text-white px-4 rounded-sm outline-gray-600 hover:bg-gray-600 transition inline-flex mx-1 items-center gap-1 bg-gray-700;
}

.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md cursor-pointer;
}

.btn-red {
  @apply bg-red-800 text-white outline-red-700;
}

.btn-default {
  @apply bg-gray-500 text-white outline-gray-400;
}
